---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      
Hi, I'm Saadate Khalil, a front-end developer in training based in Le Havre, Normandy.
      <br />
      <br />
      My primary tools of choice include:
      <ul class="list-inside list-disc">
        <li>Java</li>
        <li>C</li>
        <li>MySQL</li>
        <li>PostregSQL</li>
        <li>Oracle</li>
        <li>SQL</li>
        <li>PHP</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Symfony</li>
        <li>Processing</li>

      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I’m passionate about exploring new technologies, creative design, and continuously improving my skills. In my free time, I enjoy discovering music, diving into problem-solving challenges, and connecting with others who share a love for tech and innovation.
    </p>
  </div>
</Card>
